Test/Test.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 12,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "1156b977-ddca-327a-8a11-ce43d60518e8",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "19ed7945-437f-3669-8b92-d30a387ad816",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "50dd2abf-e076-3ac8-822c-0eb8cb7c5004",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "011e7e31-2e50-366c-92a6-b7de59ff0f89",
            "name" : "Exit",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "575b29ff-3012-3526-bd37-b3d3b3a5d748",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "07c7f1ab-5baa-3477-81a7-28fba1860837",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "6e975dd9-a275-3c2c-8b21-cdf23d9d6e02",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "6de2e108-009a-36fc-a307-d48a649105b6",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure", "permission.denied", "not.found" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "1156b977-ddca-327a-8a11-ce43d60518e8",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "3535ba80-ea60-39de-ae75-ec7231c8dbb0",
            "name" : "GenerateTableFetch",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "66bdcbfe-b3b9-3e07-9d3f-795c1a8ce09c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "sql" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "5c8c1ab3-5208-36aa-80f3-bf66199c4af1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "07c7f1ab-5baa-3477-81a7-28fba1860837",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "f1113d14-428d-347f-9d6b-900822a33fdd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "6e975dd9-a275-3c2c-8b21-cdf23d9d6e02",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "6e975dd9-a275-3c2c-8b21-cdf23d9d6e02",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "f059da34-ae30-3552-8e18-7a4c6affa14b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "3535ba80-ea60-39de-ae75-ec7231c8dbb0",
            "name" : "GenerateTableFetch",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "6e975dd9-a275-3c2c-8b21-cdf23d9d6e02",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "56da3b82-d957-350e-a918-1ddf6e8bc7d7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "00aa62e9-cb68-3b6b-8a26-068259afd1db",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "00aa62e9-cb68-3b6b-8a26-068259afd1db",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "a8d028b7-43f3-3d06-9e97-71d05e48a802",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "3535ba80-ea60-39de-ae75-ec7231c8dbb0",
            "name" : "GenerateTableFetch",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "5c8c1ab3-5208-36aa-80f3-bf66199c4af1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "7300dc32-43ea-3f1a-b93d-d15d5e4e9158",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "1156b977-ddca-327a-8a11-ce43d60518e8",
            "name" : "FetchFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "07c7f1ab-5baa-3477-81a7-28fba1860837",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "9a57efdd-dc8b-355a-8a87-515135a2626d",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "302e9595-f56d-33c1-b5c9-2fd1aafeda95",
            "name" : "PublishJMS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "6e975dd9-a275-3c2c-8b21-cdf23d9d6e02",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "61b9e717-9b1f-3df5-875d-4c0e22960a8a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "302e9595-f56d-33c1-b5c9-2fd1aafeda95",
            "name" : "PublishJMS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "6e975dd9-a275-3c2c-8b21-cdf23d9d6e02",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "f4c7692e-6a60-3b4b-a36d-c8eb0fa1f961",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "5c8c1ab3-5208-36aa-80f3-bf66199c4af1",
            "name" : "ConvertJSONToSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "302e9595-f56d-33c1-b5c9-2fd1aafeda95",
            "name" : "PublishJMS",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "d4f06594-3395-3794-b0f9-70e51b4deaa0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
            "id" : "00aa62e9-cb68-3b6b-8a26-068259afd1db",
            "name" : "ExecuteSQL",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-dbcp-service-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.0"
            },
            "type" : "org.apache.nifi.dbcp.DBCPService"
          } ],
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "2ab3f6c3-c702-3b1a-a67d-87bcf5726553",
          "name" : "DBCPConnectionPool",
          "properties" : {
            "dbcp-min-idle-conns" : "0",
            "Max Wait Time" : "500 millis",
            "dbcp-min-evictable-idle-time" : "30 mins",
            "Max Total Connections" : "8",
            "dbcp-max-conn-lifetime" : "-1",
            "dbcp-time-between-eviction-runs" : "-1",
            "dbcp-soft-min-evictable-idle-time" : "-1",
            "dbcp-max-idle-conns" : "8"
          },
          "propertyDescriptors" : {
            "kerberos-password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "kerberos-password",
              "sensitive" : true
            },
            "dbcp-min-idle-conns" : {
              "displayName" : "Minimum Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-idle-conns",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Driver Class Name" : {
              "displayName" : "Database Driver Class Name",
              "identifiesControllerService" : false,
              "name" : "Database Driver Class Name",
              "sensitive" : false
            },
            "dbcp-min-evictable-idle-time" : {
              "displayName" : "Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-min-evictable-idle-time",
              "sensitive" : false
            },
            "kerberos-principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "kerberos-principal",
              "sensitive" : false
            },
            "Max Total Connections" : {
              "displayName" : "Max Total Connections",
              "identifiesControllerService" : false,
              "name" : "Max Total Connections",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "dbcp-max-conn-lifetime" : {
              "displayName" : "Max Connection Lifetime",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-conn-lifetime",
              "sensitive" : false
            },
            "Validation-query" : {
              "displayName" : "Validation query",
              "identifiesControllerService" : false,
              "name" : "Validation-query",
              "sensitive" : false
            },
            "Database Connection URL" : {
              "displayName" : "Database Connection URL",
              "identifiesControllerService" : false,
              "name" : "Database Connection URL",
              "sensitive" : false
            },
            "dbcp-time-between-eviction-runs" : {
              "displayName" : "Time Between Eviction Runs",
              "identifiesControllerService" : false,
              "name" : "dbcp-time-between-eviction-runs",
              "sensitive" : false
            },
            "Database User" : {
              "displayName" : "Database User",
              "identifiesControllerService" : false,
              "name" : "Database User",
              "sensitive" : false
            },
            "dbcp-soft-min-evictable-idle-time" : {
              "displayName" : "Soft Minimum Evictable Idle Time",
              "identifiesControllerService" : false,
              "name" : "dbcp-soft-min-evictable-idle-time",
              "sensitive" : false
            },
            "database-driver-locations" : {
              "displayName" : "Database Driver Location(s)",
              "identifiesControllerService" : false,
              "name" : "database-driver-locations",
              "sensitive" : false
            },
            "dbcp-max-idle-conns" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "dbcp-max-idle-conns",
              "sensitive" : false
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
        } ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "6e975dd9-a275-3c2c-8b21-cdf23d9d6e02",
          "position" : {
            "x" : 744.0,
            "y" : 488.0
          }
        } ],
        "identifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "Test Group",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "011e7e31-2e50-366c-92a6-b7de59ff0f89",
          "name" : "Exit",
          "position" : {
            "x" : 1384.0,
            "y" : 40.0
          },
          "type" : "OUTPUT_PORT"
        } ],
        "position" : {
          "x" : 1616.0,
          "y" : 376.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "50dd2abf-e076-3ac8-822c-0eb8cb7c5004",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 656.0,
            "y" : 56.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "start" : "1231",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "start" : {
              "displayName" : "start",
              "identifiesControllerService" : false,
              "name" : "start",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "5c8c1ab3-5208-36aa-80f3-bf66199c4af1",
          "name" : "ConvertJSONToSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -144.0,
            "y" : 312.0
          },
          "properties" : {
            "table-schema-cache-size" : "100",
            "jts-sql-param-attr-prefix" : "sql",
            "Unmatched Field Behavior" : "Ignore Unmatched Fields",
            "Unmatched Column Behavior" : "Fail on Unmatched Columns",
            "jts-quoted-identifiers" : "false",
            "jts-quoted-table-identifiers" : "false",
            "Translate Field Names" : "true"
          },
          "propertyDescriptors" : {
            "table-schema-cache-size" : {
              "displayName" : "Table Schema Cache Size",
              "identifiesControllerService" : false,
              "name" : "table-schema-cache-size",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "Catalog Name" : {
              "displayName" : "Catalog Name",
              "identifiesControllerService" : false,
              "name" : "Catalog Name",
              "sensitive" : false
            },
            "jts-sql-param-attr-prefix" : {
              "displayName" : "SQL Parameter Attribute Prefix",
              "identifiesControllerService" : false,
              "name" : "jts-sql-param-attr-prefix",
              "sensitive" : false
            },
            "Schema Name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "Schema Name",
              "sensitive" : false
            },
            "Unmatched Field Behavior" : {
              "displayName" : "Unmatched Field Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Field Behavior",
              "sensitive" : false
            },
            "Unmatched Column Behavior" : {
              "displayName" : "Unmatched Column Behavior",
              "identifiesControllerService" : false,
              "name" : "Unmatched Column Behavior",
              "sensitive" : false
            },
            "jts-quoted-identifiers" : {
              "displayName" : "Quote Column Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-identifiers",
              "sensitive" : false
            },
            "jts-quoted-table-identifiers" : {
              "displayName" : "Quote Table Identifiers",
              "identifiesControllerService" : false,
              "name" : "jts-quoted-table-identifiers",
              "sensitive" : false
            },
            "JDBC Connection Pool" : {
              "displayName" : "JDBC Connection Pool",
              "identifiesControllerService" : true,
              "name" : "JDBC Connection Pool",
              "sensitive" : false
            },
            "Update Keys" : {
              "displayName" : "Update Keys",
              "identifiesControllerService" : false,
              "name" : "Update Keys",
              "sensitive" : false
            },
            "Translate Field Names" : {
              "displayName" : "Translate Field Names",
              "identifiesControllerService" : false,
              "name" : "Translate Field Names",
              "sensitive" : false
            },
            "Statement Type" : {
              "displayName" : "Statement Type",
              "identifiesControllerService" : false,
              "name" : "Statement Type",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertJSONToSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-jms-processors-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "302e9595-f56d-33c1-b5c9-2fd1aafeda95",
          "name" : "PublishJMS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 656.0,
            "y" : 816.0
          },
          "properties" : {
            "character-set" : "windows-1251",
            "allow-illegal-chars-in-jms-header-names" : "false",
            "attributes-to-send-as-jms-headers-regex" : ".*",
            "Session Cache size" : "1",
            "Destination Type" : "QUEUE",
            "message-body-type" : "bytes"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "cflib" : {
              "displayName" : "JMS Client Libraries",
              "identifiesControllerService" : false,
              "name" : "cflib",
              "sensitive" : false
            },
            "allow-illegal-chars-in-jms-header-names" : {
              "displayName" : "Allow Illegal Characters in Header Names",
              "identifiesControllerService" : false,
              "name" : "allow-illegal-chars-in-jms-header-names",
              "sensitive" : false
            },
            "cf" : {
              "displayName" : "JMS Connection Factory Implementation Class",
              "identifiesControllerService" : false,
              "name" : "cf",
              "sensitive" : false
            },
            "User Name" : {
              "displayName" : "User Name",
              "identifiesControllerService" : false,
              "name" : "User Name",
              "sensitive" : false
            },
            "java.naming.factory.initial" : {
              "displayName" : "JNDI Initial Context Factory Class",
              "identifiesControllerService" : false,
              "name" : "java.naming.factory.initial",
              "sensitive" : false
            },
            "Destination Name" : {
              "displayName" : "Destination Name",
              "identifiesControllerService" : false,
              "name" : "Destination Name",
              "sensitive" : false
            },
            "java.naming.provider.url" : {
              "displayName" : "JNDI Provider URL",
              "identifiesControllerService" : false,
              "name" : "java.naming.provider.url",
              "sensitive" : false
            },
            "naming.factory.libraries" : {
              "displayName" : "JNDI / JMS Client Libraries",
              "identifiesControllerService" : false,
              "name" : "naming.factory.libraries",
              "sensitive" : false
            },
            "broker" : {
              "displayName" : "JMS Broker URI",
              "identifiesControllerService" : false,
              "name" : "broker",
              "sensitive" : false
            },
            "Connection Factory Service" : {
              "displayName" : "Connection Factory Service",
              "identifiesControllerService" : true,
              "name" : "Connection Factory Service",
              "sensitive" : false
            },
            "connection.factory.name" : {
              "displayName" : "JNDI Name of the Connection Factory",
              "identifiesControllerService" : false,
              "name" : "connection.factory.name",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "JMS SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "attributes-to-send-as-jms-headers-regex" : {
              "displayName" : "Attributes to Send as JMS Headers (Regex)",
              "identifiesControllerService" : false,
              "name" : "attributes-to-send-as-jms-headers-regex",
              "sensitive" : false
            },
            "Connection Client ID" : {
              "displayName" : "Connection Client ID",
              "identifiesControllerService" : false,
              "name" : "Connection Client ID",
              "sensitive" : false
            },
            "java.naming.security.principal" : {
              "displayName" : "JNDI Principal",
              "identifiesControllerService" : false,
              "name" : "java.naming.security.principal",
              "sensitive" : false
            },
            "Session Cache size" : {
              "displayName" : "Session Cache Size",
              "identifiesControllerService" : false,
              "name" : "Session Cache size",
              "sensitive" : false
            },
            "Destination Type" : {
              "displayName" : "Destination Type",
              "identifiesControllerService" : false,
              "name" : "Destination Type",
              "sensitive" : false
            },
            "message-body-type" : {
              "displayName" : "Message Body Type",
              "identifiesControllerService" : false,
              "name" : "message-body-type",
              "sensitive" : false
            },
            "java.naming.security.credentials" : {
              "displayName" : "JNDI Credentials",
              "identifiesControllerService" : false,
              "name" : "java.naming.security.credentials",
              "sensitive" : true
            },
            "Password" : {
              "displayName" : "Password",
              "identifiesControllerService" : false,
              "name" : "Password",
              "sensitive" : true
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.jms.processors.PublishJMS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "07c7f1ab-5baa-3477-81a7-28fba1860837",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1144.0,
            "y" : 456.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "00aa62e9-cb68-3b6b-8a26-068259afd1db",
          "name" : "ExecuteSQL",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -112.0,
            "y" : 800.0
          },
          "properties" : {
            "esql-max-rows" : "0",
            "dbf-default-precision" : "10",
            "Max Wait Time" : "0 seconds",
            "dbf-user-logical-types" : "false",
            "dbf-default-scale" : "0",
            "compression-format" : "NONE",
            "esql-output-batch-size" : "0",
            "esql-fetch-size" : "0",
            "SQL select query" : "select * from First_Table",
            "dbf-normalize" : "false"
          },
          "propertyDescriptors" : {
            "esql-max-rows" : {
              "displayName" : "Max Rows Per Flow File",
              "identifiesControllerService" : false,
              "name" : "esql-max-rows",
              "sensitive" : false
            },
            "dbf-default-precision" : {
              "displayName" : "Default Decimal Precision",
              "identifiesControllerService" : false,
              "name" : "dbf-default-precision",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "sql-post-query" : {
              "displayName" : "SQL Post-Query",
              "identifiesControllerService" : false,
              "name" : "sql-post-query",
              "sensitive" : false
            },
            "dbf-user-logical-types" : {
              "displayName" : "Use Avro Logical Types",
              "identifiesControllerService" : false,
              "name" : "dbf-user-logical-types",
              "sensitive" : false
            },
            "dbf-default-scale" : {
              "displayName" : "Default Decimal Scale",
              "identifiesControllerService" : false,
              "name" : "dbf-default-scale",
              "sensitive" : false
            },
            "sql-pre-query" : {
              "displayName" : "SQL Pre-Query",
              "identifiesControllerService" : false,
              "name" : "sql-pre-query",
              "sensitive" : false
            },
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "esql-output-batch-size" : {
              "displayName" : "Output Batch Size",
              "identifiesControllerService" : false,
              "name" : "esql-output-batch-size",
              "sensitive" : false
            },
            "esql-fetch-size" : {
              "displayName" : "Fetch Size",
              "identifiesControllerService" : false,
              "name" : "esql-fetch-size",
              "sensitive" : false
            },
            "SQL select query" : {
              "displayName" : "SQL select query",
              "identifiesControllerService" : false,
              "name" : "SQL select query",
              "sensitive" : false
            },
            "dbf-normalize" : {
              "displayName" : "Normalize Table/Column Names",
              "identifiesControllerService" : false,
              "name" : "dbf-normalize",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExecuteSQL",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "3535ba80-ea60-39de-ae75-ec7231c8dbb0",
          "name" : "GenerateTableFetch",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -128.0,
            "y" : 552.0
          },
          "properties" : {
            "gen-table-output-flowfile-on-zero-results" : "false",
            "db-fetch-db-type" : "Generic",
            "Max Wait Time" : "0 seconds",
            "gen-table-fetch-partition-size" : "10000"
          },
          "propertyDescriptors" : {
            "gen-table-output-flowfile-on-zero-results" : {
              "displayName" : "Output Empty FlowFile on Zero Results",
              "identifiesControllerService" : false,
              "name" : "gen-table-output-flowfile-on-zero-results",
              "sensitive" : false
            },
            "Table Name" : {
              "displayName" : "Table Name",
              "identifiesControllerService" : false,
              "name" : "Table Name",
              "sensitive" : false
            },
            "db-fetch-db-type" : {
              "displayName" : "Database Type",
              "identifiesControllerService" : false,
              "name" : "db-fetch-db-type",
              "sensitive" : false
            },
            "gen-table-custom-orderby-column" : {
              "displayName" : "Custom ORDER BY Column",
              "identifiesControllerService" : false,
              "name" : "gen-table-custom-orderby-column",
              "sensitive" : false
            },
            "Max Wait Time" : {
              "displayName" : "Max Wait Time",
              "identifiesControllerService" : false,
              "name" : "Max Wait Time",
              "sensitive" : false
            },
            "Database Connection Pooling Service" : {
              "displayName" : "Database Connection Pooling Service",
              "identifiesControllerService" : true,
              "name" : "Database Connection Pooling Service",
              "sensitive" : false
            },
            "gen-table-fetch-partition-size" : {
              "displayName" : "Partition Size",
              "identifiesControllerService" : false,
              "name" : "gen-table-fetch-partition-size",
              "sensitive" : false
            },
            "Columns to Return" : {
              "displayName" : "Columns to Return",
              "identifiesControllerService" : false,
              "name" : "Columns to Return",
              "sensitive" : false
            },
            "Maximum-value Columns" : {
              "displayName" : "Maximum-value Columns",
              "identifiesControllerService" : false,
              "name" : "Maximum-value Columns",
              "sensitive" : false
            },
            "db-fetch-where-clause" : {
              "displayName" : "Additional WHERE clause",
              "identifiesControllerService" : false,
              "name" : "db-fetch-where-clause",
              "sensitive" : false
            },
            "gen-table-column-for-val-partitioning" : {
              "displayName" : "Column for Value Partitioning",
              "identifiesControllerService" : false,
              "name" : "gen-table-column-for-val-partitioning",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateTableFetch",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bf4ba092-6e63-3e1a-919a-e0a2a0278d88",
          "identifier" : "1156b977-ddca-327a-8a11-ce43d60518e8",
          "name" : "FetchFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -152.0,
            "y" : 8.0
          },
          "properties" : {
            "Move Conflict Strategy" : "Rename",
            "Log level when file not found" : "ERROR",
            "Log level when permission denied" : "ERROR",
            "File to Fetch" : "${absolute.path}/${filename}",
            "Completion Strategy" : "None"
          },
          "propertyDescriptors" : {
            "Move Conflict Strategy" : {
              "displayName" : "Move Conflict Strategy",
              "identifiesControllerService" : false,
              "name" : "Move Conflict Strategy",
              "sensitive" : false
            },
            "Log level when file not found" : {
              "displayName" : "Log level when file not found",
              "identifiesControllerService" : false,
              "name" : "Log level when file not found",
              "sensitive" : false
            },
            "Move Destination Directory" : {
              "displayName" : "Move Destination Directory",
              "identifiesControllerService" : false,
              "name" : "Move Destination Directory",
              "sensitive" : false
            },
            "Log level when permission denied" : {
              "displayName" : "Log level when permission denied",
              "identifiesControllerService" : false,
              "name" : "Log level when permission denied",
              "sensitive" : false
            },
            "File to Fetch" : {
              "displayName" : "File to Fetch",
              "identifiesControllerService" : false,
              "name" : "File to Fetch",
              "sensitive" : false
            },
            "Completion Strategy" : {
              "displayName" : "Completion Strategy",
              "identifiesControllerService" : false,
              "name" : "Completion Strategy",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.FetchFile",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}